/* ========================
      !hero
==========================*/

#hero {
  height: 100vh;
  background-image: linear-gradient(to right bottom, #092e5b, rgba(9, 46, 91, 0.7)), url("../img/hero-min.jpg");
  background-position: right center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero{
  &__title{
    h2{
      font-weight: 400;
      letter-spacing: -3px;
    }
  }
}