/* ========================
      ! 1. news
==========================*/
section#news {
    padding: 0 0 30px 0;
    background: $theme_color_tertiary;
}

.news {
    &__title {
        text-align: center;
        &__before {
            margin: 25px 0 10px 0;
            color: $text_color_primary;
        }
        &__main {
            font-size: 35px;
            margin-bottom: 10px;
            font-weight: 800;
        }
        &__after {
            font-size: 14px;
            margin-bottom: 30px;
            color: $text_color_primary;
        }
    }
    &__card {
        padding-bottom: 30px;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
        &__image {
            position: relative;
            overflow: hidden;
            img {
                min-height: 250px;
                transition: all 0.3s ease-out;
                -webkit-transition: all 0.3s ease-out;
                -moz-transition: all 0.3s ease-out;
                -ms-transition: all 0.3s ease-out;
                -o-transition: all 0.3s ease-out;
            }
            &::before {
                @include animation_before;
            }
            &:hover {
                &:before {
                    opacity: 0;
                }
                img {
                    -webkit-transform: scale(1.2);
                    -ms-transform: scale(1.2);
                    transform: scale(1.2);
                }
            }
        }
        &__text {
            margin-top: 30px;
            padding: 0 20px;
            i {
                font-size: 30px;
                color: $text_color_secondary;
                &:hover {
                    color: $theme_color_primary;
                }
            }
            .heading {
                margin: 10px 0;
                font-size: 25px;
                &:hover {
                    color: $text_color_secondary;
                }
            }
            .info {
                color: $text_color_primary;
            }
        }
        &__btn {
            padding: 0 20px;
            .btn-custom {
                padding-bottom: 30px;
                text-decoration: none;
                color: $text_color_secondary;
                font-size: 18px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
