/* ========================
      !header
==========================*/
.navbar {
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;

    .navbar-brand {
        img {
            height: 45px;
            width: 100px;
        }
    }
    .navbar-nav {
        .nav-item {
            margin: 0 15px;
            text-align: center;

            .nav-link {
                padding: 0px 20px 3px 20px;
                font-size: 18px;
                font-weight: bold;
                color: #092e5b;
                background: transparent;
                border: 2px solid transparent;
                transition: all 0.2s ease;
                -webkit-transition: all 0.2s ease;
                -moz-transition: all 0.2s ease;
                -ms-transition: all 0.2s ease;
                -o-transition: all 0.2s ease;
                &:hover {
                    background: #092e5b;
                    color: #fff;
                    border-radius: 45px;
                }
            }
        }
    }
}
