@mixin animation_before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: rgba($color: $theme_color_primary, $alpha: 0.9);
    height: 100%;
    width: 100%;
    z-index: 999;
    opacity: 0.7;
    transition: all 0.3s ease;
}
